<%= simple_form_for(@approval) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :approve %>
    <%= f.association :user %>
    <%= f.association :friendship %>
    <%= f.association :subscription %>
    <%= f.association :membership %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
