<h1>Listing meta</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Data</th>
      <th>User</th>
      <th>Approval</th>
      <th>Post</th>
      <th>Feed</th>
      <th>Presenter</th>
      <th>Friendship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meta.each do |metum| %>
      <tr>
        <td><%= metum.content %></td>
        <td><%= metum.data %></td>
        <td><%= metum.user %></td>
        <td><%= metum.approval %></td>
        <td><%= metum.post %></td>
        <td><%= metum.feed %></td>
        <td><%= metum.presenter %></td>
        <td><%= metum.friendship %></td>
        <td><%= link_to 'Show', metum %></td>
        <td><%= link_to 'Edit', edit_metum_path(metum) %></td>
        <td><%= link_to 'Destroy', metum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metum', new_metum_path %>
