<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @network.user %>
</p>

<p>
  <strong>Private:</strong>
  <%= @network.private %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
