<%= simple_form_for(@ui_element) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :meta %>
    <%= f.association :user %>
    <%= f.association :presenter %>
    <%= f.association :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
