- model_class = UIElement
.page-header
  %h1= t '.title', :default => UIElement
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th= model_class.human_attribute_name(:meta)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @ui_elements.each do |ui_element|
      %tr
        %td= ui_element.id
        %td= ui_element.meta
        %td= l ui_element.created_at, format: :long
        %td
          = link_to ui_element_path(ui_element), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do
            = glyph 'info-sign'
            = glyph 'pencil'
          = link_to ui_element_path(ui_element), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do
            = glyph 'remove'
= link_to t('.new', :default => t("helpers.links.new")), |
  new_ui_element_path,                                   |
  :class => 'btn btn-primary'                            |
