!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grrr
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Prelang: Analytics / Google Analytics
    = analytics_init if Rails.env.production? or Rails.env.development?
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    = navbar inverted: true, fluid: true do
      = nav class: 'nav nav-pills navbar-static-top' do
        = vertical do
          = link_to 'grrr...', '/'
        = horizontal  do
          %nav
            .nav-justified
              %li= link_to 'networks', networks_path
              %li= link_to 'feed', feeds_path
              %li= link_to 'friends', friendships_path
    .navbar-right.navbar-fixed-top
      = navbar inverted: true, fluid: true do
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Account
          %b.caret
          %ul.dropdown-menu
            %nav.btn-group-justified
              - if defined?(Devise)
                - if user_signed_in?
                  = link_to 'Memberships', memberships_path
                  = link_to 'Subscriptions', subscriptions_path
                  %li.divider
                  - if defined?(Devise)
                    - if user_signed_in?
                      = link_to 'my content', contents_path
                      %hr
                      %li= link_to "Edit Account", edit_user_registration_path
                      %li= link_to "Sign Out", destroy_user_session_path, method: :delete
                - else
                  %li= link_to "Sign Up", new_user_registration_path
                  %li= link_to "Login", new_user_session_path
    .container
      .well-lg.row
        .parallax-container
          .parallax
            = image_tag image_url 'https://i.ytimg.com/vi/7oYOVsUaLOs/maxresdefault.jpg'
      .stage
        .layer
        .layer
        .layer
        .layer
        .layer
        .layer
    .container-fluid
      .row.panel-primary
        = bootstrap_flash
        .col-xs-12.panel-primary= yield
    .container-fluid
      .row.panel-primary
        = bootstrap_flash
        .col-xs-12.panel-primary= yield
    .parallax-container
      .parallax
        = image_tag 'spaceface.jpg'

    .navbar-static-bottom
      .col-xs-6.card.mdl-shadow--24dp= image_tag 'seanadams.jpg'